@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-back {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

.backlink {
  display: flex;
  cursor: pointer;
  > svg {
    animation: rotate-back 0.7s ease 1;
    &:hover {
      animation: rotate 0.7s ease 1;
    }
  }
}
