.button {
    border-radius: 39.5px;
    width: 155px;
    height: 64px;
    flex-shrink: 0;
    border: none;
    .text {
        text-align: justify;
        font-family: Tahoma;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--Blanc, #f4f9fb);
    }
    &.primary {
        background: var(--Bleu, #5f63fe);
    }
    &.secondary {
        background: var(--Noir, #181b1f);
    }
}
